<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>QR Wizard</title>
</head>
<body>
  <div>
    <h1>와이파이 비밀번호 찾기</h1>
  </div>
  <div>
    <button id="find-by-facing-cam">🎥 캠으로 찾기</button>
    <button id="stop-facing-cam" hidden>캠 종료하기</button>
    <div id="loading-message"></div>
    <canvas id="canvas" hidden></canvas>
    <div id="output" hidden>
      <div id="output-message">인식된 QR 코드가 없어요</div>
      <div hidden><span id="output-data"></span></div>
    </div>
  </div>
  <div>
    <a href="/wifi-password/find-by-file" th:href="@{/wifi-password/find-by-file}">이미지 파일로 찾기</a>
  </div>
  <script src="/js/jsQR.js"></script>
  <script src="/js/wifi-password.js"></script>
</body>
</html>